In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages

Table 1: Tidy Dataset

In [2]:
cleveland_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data",
        col_names = FALSE)

colnames(cleveland_data) <- c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")

tidy_cleveland_data <- cleveland_data |>
select("age", "trestbps", "chol", "thalach", "oldpeak", "thal") |>
mutate(across(age:thal, ~na_if(., "?"))) #https://dplyr.tidyverse.org/reference/na_if.html
tidy_cleveland_data$thal[tidy_cleveland_data$thal == "3.0"] <- "normal" #https://sparkbyexamples.com/r-programming/replace-values-in-r/#:~:text=To%20replace%20a%20column%20value,single%20column%20use%20df%24column_name%20.
tidy_cleveland_data$thal[tidy_cleveland_data$thal == "6.0"] <- "fixed_defect" #https://sparkbyexamples.com/r-programming/replace-values-in-r/#:~:text=To%20replace%20a%20column%20value,single%20column%20use%20df%24column_name%20.
tidy_cleveland_data$thal[tidy_cleveland_data$thal == "7.0"] <- "reversible_defect" #https://sparkbyexamples.com/r-programming/replace-values-in-r/#:~:text=To%20replace%20a%20column%20value,single%20column%20use%20df%24column_name%20.
tidy_cleveland_data <- mutate(tidy_cleveland_data, thal = as.factor(thal))
tidy_cleveland_data

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age trestbps chol thalach oldpeak thal
1   63  145      233  150     2.3     fixed_defect
2   67  160      286  108     1.5     normal
3   67  120      229  129     2.6     reversible_defect
⋮   ⋮   ⋮        ⋮    ⋮       ⋮       ⋮
301 57  130      131  115     1.2     reversible_defect
302 57  130      236  174     0.0     normal
303 38  138      175  173     0.0     normal

In [3]:
set.seed(234) 
cleveland_split <- initial_split(tidy_cleveland_data, prop = 0.75, strata = thal)  
cleveland_train <- training(cleveland_split)   
cleveland_test <- testing(cleveland_split)
cleveland_train
cleveland_test

    age trestbps chol thalach oldpeak thal
1   63  145      233  150     2.3     fixed_defect
2   37  130      250  187     3.5     normal
3   41  130      204  172     1.4     normal
⋮   ⋮   ⋮        ⋮    ⋮       ⋮       ⋮
225 63  140      187  144     4.0     reversible_defect
226 68  144      193  141     3.4     reversible_defect
227 57  130      131  115     1.2     reversible_defect

   age trestbps chol thalach oldpeak thal
1  67  160      286  108     1.5     normal
2  67  120      229  129     2.6     reversible_defect
3  62  140      268  160     3.6     normal
⋮  ⋮   ⋮        ⋮    ⋮       ⋮       ⋮
74 57  140      241  123     0.2     reversible_defect
75 45  110      264  132     1.2     reversible_defect
76 57  130      236  174     0.0     normal

In [6]:
cleveland_table <- cleveland_train |>
summarize(across(age:oldpeak, mean))
cleveland_table

cleveland_table_2 <- group_by(cleveland_train, thal) |>
summarize(count = n())
cleveland_table_2

cleveland_table_3 <- cleveland_train[!complete.cases(cleveland_train), ] #https://www.easytweaks.com/select-rows-na-missing-values-r/#:~:text=In%20order%20to%20find%20rows,to%20subset%20the%20DataFrame%20rows.
cleveland_table_3

  age      trestbps chol     thalach  oldpeak
1 53.95595 131.5903 244.2952 150.5507 1.040088

  thal              count
1 fixed_defect       12
2 normal            126
3 reversible_defect  88
4 NA                  1

  age trestbps chol thalach oldpeak thal
1 53  128      216  115     0       NA